.features{
    grid-column: content-start/content-end;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:6rem;
    align-items: start;
}
.feature{
    &__icon{
        fill: $color-brown-med;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1/ span 2;
        //grid-row: 1 /-1; doesnt work here, coz we've not defined rows
        transform: translateY(-1rem);
    }

    &__text{
        font-size: 1.4rem;
        // background-color: rgba(234, 234, 234, 0.325);
    }

    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    
    //grid-template-rows not required here.

}